#contact {
    margin: 40px auto 10px;
    width: 90%;
    h2 {
        color: $lightBlue;
        font-size: 2em;
        font-weight: lighter;
        padding: 8px 5px;
    }
    div {
        @include flex(column, center);
        margin: 10px auto;
        h4, 
        p {
            color: $offWhite;
            font-weight: lighter; 
        }
        h4 {
            font-size: 1.1em;
            margin: 10px 0;
        }
        p {
            font-size: 0.8em;
            margin: 6px 0;
        }
        button {
            background-image: linear-gradient($lightBlue, rgb(49, 223, 165));
            border: 1px solid rgb(49, 223, 165);
            border-radius: 1em;
            display: block;
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: bold;
            margin: 14px auto;
            padding: 16px 20px;
            a {
                color: $darkGrey;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 568px) {
    #contact {
        width: 70%;
        div {
            button {
                margin: 20px auto;
            }
        }
    }
}

@media (min-width: 768px) {
    #contact {
        h2 {
            font-size: 3em;
        }
        div {
            h4 {
                font-size: 1.2em;
            }
            p {
                font-size: 1em;
            }
            button {
                font-size: 1em;
                margin: 30px auto;
            }
        }
    }   
}

@media (min-width: 1024px) {
    #contact {
        h2 {
            font-size: 3em;
        }
        div {
            h4 {
                font-size: 1.4em;
            }
            button {
                font-size: 0.9em;
                margin: 20px 0;
                width: 180px;
            }
        }
    }
}