#portfolio {
    font-weight: lighter;
    margin: 40px auto 10px;
    width: 90%;
    h2 {
        color: $lightBlue;
        font-size: 2em;
        font-weight: lighter;
        padding: 8px 5px;
    }
    div {
        @include flex(row, center);
        flex-wrap: wrap;
        .project-container {
            align-items: center;
            @include flex(column, center);
            margin: 20px auto;
            width: 80%;
            .image-container {
                background-color: $offWhite;
                border: 3px solid $offWhite;
                border-radius: 1em;
                height: 220px;
                overflow-y: hidden;
                width: 220px;
                img {
                    max-width: 100%;
                }
            }
            p {
                color: $offWhite;
                padding: 10px;
            }
        }
    }
}

// ----- MEDIA QUERIES ----- //

@media (min-height: 400px) {
    #portfolio {
        width: 80%;
    } 
}

@media (min-width: 568px) {
    #portfolio {
        width: 70%;
        h2 {
            font-size: 2.2em;
        }
        div {
            .project-container {
                padding: 10px;
                width: 50%;
                .image-container {
                    height: 190px;
                    width: 190px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #portfolio {
        width: 70%;
        h2 {
            font-size: 3em;
        }
        div {
            .project-container {
                width: 50%;
                .image-container {
                    height: 230px;
                    width: 230px;
                }
            }
        }
    }   
}

@media (min-width: 1024px) {
    #portfolio {
        width: 80%;
        div {
            .project-container {
                width: 30%;
                .image-container,
                p {
                    margin: 5px 20px;
                }
                .image-container {
                    height: 250px;
                    width: 250px;
                }
            }
        }
    }
}