@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* --- Sass Variables --- */

$darkGrey : rgb(61, 61, 61);
$offWhite : rgb(240, 240, 240);
$lightBlue : rgb(183, 215, 240);
$navHeight : 66px;

/* --- Sass Mixins --- */

@mixin flex ($direction, $content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
}

/* --- CSS Reset --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* --- Base Styles --- */
 
body {
    @include flex(column, start);
    background-color: $lightBlue;
    font-family: 'Noto Sans JP', sans-serif;
}
#page-content {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* --- Main Nav Styles --- */

@import "nav";

/* --- Header Styles --- */

header {
    @include flex(column, space-around);
    align-items: center;
    height: calc(100vh - 66px);
    div {
        margin-top: 50px;
        h1 {
            color: $darkGrey;
            font-weight: lighter;
            padding: 20px;
            text-align: center;
        }
        h4 {
            color: $offWhite;
            font-size: 1.2em;
            text-align: center;
        }
    }
    .chevron-container {
        @include flex(column, flex-start);
        height: 80px;
        margin: 50px auto 10px;
        .bounce {
            animation-name: bounce;
            animation-timing-function: ease-in-out;
        }
        @keyframes bounce {
            0% { transform: translateY(0); }
            50% { transform: translateY(20px); }
            100% { transform: translateY(0); }
        }
        i {
            color: $darkGrey;
            cursor: pointer;
            &:hover {
                animation-duration: 2s;
                animation-iteration-count: infinite;
                transform-origin: bottom;
            }
        }
    } 
}

/* --- Social Links Nav --- */

aside #social-links {
    display: none;
}

/* --- Footer Styles ---- */

@import "footer";

/* --- Media Queries --- */

@media (min-width: 568px) {
    #nav-links {
        height: calc(100vh - ($navHeight));
    }
    footer #social-links {
        display: none;
    }
    aside #social-links {
        @include flex(column, start);
        left: 20px;
        top: 100px;
        position: fixed;
        z-index: 1;
    }
    .link-icon {
        height: 32px;
        padding: 2px;
        transition: all 500ms ease-in-out;
        width: 32px;
        &:hover {
            height: 38px;
            transform: rotate(360deg);
            width: 38px;
        }
    }
}
@media (min-width: 1024px) {
    header {
        margin-top: $navHeight;
    }
    .link-icon {
        height: 38px;
        width: 38px;
        &:hover {
            height: 42px;
            width: 42px;
        }
    }
    .line {
        display: none;
    }
    nav {
        left: 0;
        position: absolute;
        top: 0;
        max-width: 100vw;
    }
    #nav-links {
        @include flex(row, flex-end);
        background-color: $lightBlue;
        border: none;
        height: 26px;
        position: static;
        li a {
            color: $darkGrey;
            &:hover {
                border-bottom: 3px solid $darkGrey; 
            }
        }
    }
}