@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

// ----- SASS VARIABLES ----- //

$darkGrey : rgb(61, 61, 61);
$offWhite : rgb(240, 240, 240);
$lightBlue: rgb(152, 250, 217);
$navHeight : 66px;

// ----- SASS MIXINS ----- //

@mixin flex ($direction, $content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
}
@mixin chevron-styles ($margin) {
    @include flex(column, flex-start);
    height: 80px;
    margin: $margin;
    .bounce {
        animation-name: bounce;
        animation-timing-function: ease-in-out;
    }
    @keyframes bounce {
        0% { transform: translateY(0); }
        50% { transform: translateY(20px); }
        100% { transform: translateY(0); }
    }
    i {
        color: $offWhite;
        cursor: pointer;
        &:hover {
            animation-duration: 2s;
            animation-iteration-count: infinite;
            transform-origin: bottom;
        }
    }
}

// ----- CSS RESET ----- //

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

// ----- BASE STYLES ----- //
 
body {
    @include flex(column, start);
    background-color: $darkGrey;
    font-family: 'Noto Sans JP', sans-serif;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}

#page-content {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

// ----- MAIN NAV STYLES ----- //

@import "nav";

// ----- HEADER STYLES ----- //

@import "header";

// ----- ABOUT STYLES ----- //

@import "about";

// ----- PORTFOLIO STYLES ----- //

@import "portfolio";

// ----- SOCIAL LINKS STYLES ----- //

aside #social-links {
    display: none;
}

// ----- FOOTER STYLES ----- //

@import "footer";

// ----- MEDIA QUERIES ----- //

@media (min-width: 568px) {
    // #nav-links {
    //     height: calc(100vh - ($navHeight));
    // }
    footer #social-links {
        display: none;
    }
    aside #social-links {
        @include flex(column, start);
        left: 25px;
        top: 20vh;
        position: fixed;
        z-index: 1;
    }
    .link-icon {
        height: 32px;
        margin: 8px auto;
        padding: 2px;
        transition: all 500ms ease-in-out;
        width: 32px;
        &:hover {
            height: 38px;
            transform: rotate(360deg);
            width: 38px;
        }
    }
}

@media (min-width: 768px) {
   // media query styles    
}

@media (min-width: 1024px) {
    .link-icon {
        height: 38px;
        width: 38px;
        &:hover {
            height: 42px;
            width: 42px;
        }
    }
    .line {
        display: none;
    }
    nav {
        left: 0;
        position: absolute;
        top: 0;
        max-width: 100vw;
    }
    #nav-links {
        @include flex(row, flex-end);
        background-color: $darkGrey;
        border: none;
        height: 26px;
        position: static;
        li a {
            color: $offWhite;
            font-size: 1.1em;
            &:hover {
                border-bottom: 2px solid $offWhite;
                font-size: 1.2em; 
            }
        }
    }
}

@media (min-width: 1200px) {
    // media query styles 
}